@font-face {
    font-family: 'GidolinyaRegular';
    src: url('../fonts/GidoleFont/Gidolinya-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'GlacialIndifferenceRegular';
    src: url('../fonts/GlacialIndifference/OTF/GlacialIndifference-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
  	font-family: 'Computer Modern Typewriter Light';
  	src: url('../fonts/Typewriter/TypewriterLight/cmunbtl.eot');
  	src: url('../fonts/Typewriter/TypewriterLight/cmunbtl.eot?#iefix') format('embedded-opentype'),
    		 url('../fonts/Typewriter/TypewriterLight/cmunbtl.woff') format('woff'),
    		 url('../fonts/Typewriter/TypewriterLight/cmunbtl.ttf') format('truetype'),
    		 url('../fonts/Typewriter/TypewriterLight/cmunbtl.svg#cmuntt') format('svg');
  	font-weight: normal;
  	font-style: normal;
    }


@font-face {
    font-family: 'CooperHewittMedium';
    src: url('../fonts/CooperHewitt/CooperHewitt-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    }
